.register{
    background-color: #f0f2f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 60px;
        color: #1877F2;

    }

    .card{
    
        margin: 20px;
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        
        .top{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-bottom: solid 2px #f0f2f5;
        }

        .bottom{
            padding: 20px;
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                align-items: center;

                input{
                    padding: 14px 16px;
                    width: 100%;
                    border: 1px solid #dddfe2;
                    border-radius: 5px;
                    font-size: 17px;
                    outline: none;
                }
                
                p{
                    font-size: 10px;
                }

                .register-btn{
                    color: white;
                    background-color: #00a400;
                    border: none;
                    width: 30%;
                    cursor: pointer;
                    border-radius: 6px;
                    font-size: 20px;
                    line-height: 48px;
                    padding: 0 16px;
                }

                .login-btn{
                    cursor: pointer;
                    color: #1877f2;
                    background: transparent;
                    border: none;
                    border-radius: 6px;
                    font-size: 15px;
                    line-height: 48px;
                    padding: 0 16px;
                }
            }

        }
    }
}