.navbar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 5px 10px;
    height: 55px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    position: sticky;
     top: 0px;
     background-color: white;
     z-index: 2;
    .logo{
      
        svg{
            fill: #1877F2;
            align-self: center;
            
        }
    }

    .search{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 50px;
        padding: 10px;
        background: #f0f2f5;
        width: 500px;
        
        svg{
            fill: gray;
        }
        input{
            
            border: none;
            outline: none;
            width: 100%;
            background: transparent;
        }

    }

    .profile-section{
        display: flex;
        
        gap: 10px;
        align-items: center;

        .icon{
            cursor: pointer;
        }

        .profile-menu{
            display: flex;
            flex-direction: column;
            position: relative;
            .menu-trigger{
            
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit:cover ;
                    cursor: pointer;
                }
            }
        }
    }
}