.rightbar{
    flex: 3;
    position: sticky;
     top: 75px;
     height: calc(100vh - 70px);
     background-color: #f7f7f7;
    .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 5px;

        .contacts{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 5px 20px;
            font-weight: 500;
                    font-size: 14px;

            .heading{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;
            
                div{
                    display: flex;
                    gap: 10px;
                    cursor: pointer;

                    .icon{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        padding: 5px;
                        background: transparent;
                    }
                    .icon:hover{
                        background: rgb(239, 238, 238) ;
                    }
                }
                
            }

            .item{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                padding: 6px 5px;
                border-radius: 8px;
                cursor: pointer;
                font-weight: 500;
                    font-size: 14px;

                img{
                     width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit:cover ;
                }
            }
            .item:hover{
                background: rgb(239, 238, 238);
            }

        }

        .groups{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 5px 20px;
            font-weight: 500;
                    font-size: 14px;

            .heading{
                font-size: 18px;
            }

            .create-group{
                display: flex;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                padding: 8px;
                cursor: pointer;
                .icon{
                    width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        padding: 5px;
                        background: rgb(239, 238, 238);
                        

                }
            }
            .create-group:hover{
                background:rgb(227, 226, 226);
            }
        }
    }
}